<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white me-2"><i class="mdi mdi-chair-school"></i></span>
    Seat Allocation
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb flex gap-3 align-items-center">
      <li>
        <button hx-get="{% url 'timetable' %}" hx-indicator="#htmx-indicator-full" hx-target="#main-content" hx-push-url="true" class="btn bg-gradient-primary"><i class="mdi mdi-refresh text-white"></i></button>
      </li>
      {% if generated %}
        <li>
          <a href="{% url 'export_arrangement' %}?date={{ date }}&period={{ period }}" class="btn bg-gradient-primary text-white">Export</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

<div class="d-flex justify-content-between align-items-center">
  <form hx-post="{% url 'generate_allocation' %}" style="flex: 1;" hx-indicator="#htmx-indicator-full" hx-target="#main-content" hx-push-url="true" class="gap-3 d-flex align-items-center">
    <div class="w-25 form-group">
      <label for="date" class="form-label">Selcet Day</label>
      <select class="form-control-sm form-control bg-white" name="date" id="date">
        {% for d in dates %}
          {% if d == date %}
            <option value="{{ d|date:'Y-m-d' }}" selected>{{ d|date:'Y-m-d' }}</option>
          {% else %}
            <option value="{{ d|date:'Y-m-d' }}">{{ d|date:'Y-m-d' }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="w-25 form-group">
      <label for="period" class="form-label">Selcet Period</label>
      <select class="form-control-sm form-control bg-white py-2" name="period" id="period">
        {% if period == 'AM' %}
          <option value="AM" selected>AM</option>
        {% else %}
          <option value="AM">AM</option>
        {% endif %}

        {% if period == 'PM' %}
          <option value="PM" selected>PM</option>
        {% else %}
          <option value="PM">PM</option>
        {% endif %}
      </select>
    </div>
    <button type="submit" class="btn bg-gradient-primary text-white">Generate or View</button>
  </form>
</div>

{% if generated %}
  <div class="d-flex justify-content-between align-items-center">
    <h3>
      Seat Allocation{% if request.GET.date %}
        {{ request.GET.date }}
      {% else %}
        {{ dates|first }}
      {% endif %}
      {% if request.GET.period %}
        {{ request.GET.period }}
      {% else %}
        AM
      {% endif %}
    </h3>
  </div>
  <div class="d-flex align-items-center gap-3 flex-wrap">
    {% for arrangement in arrangements %}
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">{{ arrangement.hall__name }}</h5>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6>Placed</h6>
              <span>{{ arrangement.placed }}</span>
            </div>
            <div>
              <h6>Not Placed</h6>
              <span>{{ arrangement.not_placed }}</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="text-center">No Allocation Yet</p>
{% endif %}
