{% load static %}

<div class="page-header">
  <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white me-2"><i class="mdi mdi-home"></i></span> Dashboard</h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
      </li>
    </ul>
  </nav>
</div>
<div class="row">
  <div class="col-md-3 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Total Departments</h4>
        <h2 class="mb-5">{{ departments_count }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'assets/images/dashboard/circle.svg' %} " class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Total Halls</h4>
        <h2 class="mb-5">{{ halls_count }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'assets/images/dashboard/circle.svg' %} " class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Total Students</h4>
        <h2 class="mb-5">{{ students }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <div class="card bg-gradient-warning card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'assets/images/dashboard/circle.svg' %} " class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Total Courses</h4>
        <h2 class="mb-5">{{ courses_count }}</h2>
      </div>
    </div>
  </div>
</div>
