<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white me-2"><i class="mdi mdi-account-multiple"></i></span>
    Distribution
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb flex gap-3 align-items-center">
      <li>
        <button hx-get="{% url 'timetable' %}" hx-indicator="#htmx-indicator-full" hx-target="#main-content" hx-push-url="true" class="btn bg-gradient-primary"><i class="mdi mdi-refresh text-white"></i></button>
      </li>
      {% if generated %}
        <li>
          {% with export_date=request.GET.date|default:dates.0|date:'Y-m-d' %}
            {% with export_period=request.GET.period|default:'AM' %}
              <a href="{% url 'export_distribution' export_date export_period %}" class="btn bg-gradient-primary text-white">Export</a>
            {% endwith %}
          {% endwith %}
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

<form hx-post="{% url 'generate_distribution' %}" hx-indicator="#htmx-indicator-full" hx-target="#main-content" hx-push-url="true" class="gap-3 d-flex align-items-center">
  <div class="w-25 form-group">
    <label for="date" class="form-label">Selcet Day</label>
    <select class="form-control-sm form-control bg-white" name="date" id="date">
      {% for date in dates %}
        <option value="{{ date|date:'Y-m-d' }}">{{ date }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="w-25 form-group">
    <label for="period" class="form-label">Selcet Period</label>
    <select class="form-control-sm form-control bg-white py-2" name="period" id="period">
      <option value="AM">AM</option>
      <option value="PM">PM</option>
    </select>
  </div>
  <button type="submit" class="btn bg-gradient-primary text-white">Generate or View</button>
</form>

{% if generated %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Distribution</h1>
  </div>
  <table class="table bg-white">
    <thead>
      <tr class="p-3">
        <th>Date</th>
        <th>Hall</th>
        <th class="text-center">Distribution Items</th>
        <th>Period</th>
      </tr>
    </thead>
    <tbody>
      {% for distribution in distributions %}
        <tr>
          <td>{{ distribution.date }}</td>
          <td>{{ distribution.hall.name }}</td>

          <td>
            <table class="table bg-dark text-white">
              <thead>
                <tr class="p-3">
                  <th>Class Name</th>
                  <th>Course Code</th>
                  <th>Course Title</th>
                  <th>Number of Students</th>
                </tr>
              </thead>
              {% for item in distribution.items.all %}
                <tr>
                  <td>{{ item.schedule.class_obj.department.name }} {{ item.schedule.class_obj.name }}</td>
                  <td>{{ item.schedule.course.code }}</td>
                  <td>{{ item.schedule.course.name }}</td>
                  <td>{{ item.no_of_students }}</td>
                </tr>
              {% endfor %}
            </table>
          </td>

          <td>{{ distribution.period }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="text-center">No Distribution Yet</p>
{% endif %}
