<div class="page-header">
  <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white me-2"><i class="mdi mdi-account-multiple"></i></span> {{ department.name }}</h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <button data-bs-toggle="modal" data-bs-target="#departmentFileUploadModal" class="btn bg-gradient-primary text-white d-flex align-items-center gap-3" type="button"><i class="mdi mdi-cloud-upload"></i> Upload Data</button>

        <!-- Modal -->
        <div class="modal fade" id="departmentFileUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Upload {{ department.name }} data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form hx-post="{% url 'upload_classes' department.slug %}" hx-target="#main-content" hx-encoding="multipart/form-data">
                <div class="modal-body">
                  <input name="file" required style="display: none;" type="file" id="clsFile" />
                  <label style="border: 2px dotted #333333; height: 150px; display: flex; justify-content: center; align-items: center; cursor: pointer;" for="clsFile" class="w-100">
                    <div style="display: flex; flex-direction: column; row-gap: 8px; align-items: center;">
                      <span><i class="mdi mdi-cloud-upload icon-lg"></i></span>
                      <span id="fileName">Click to upload (only .csv files)</span>
                    </div>
                  </label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" data-bs-dismiss="modal" class="btn btn-primary d-flex gap-3 align-items-center">Uplaod{% include 'dashboard/partials/loader.html' %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>

{% if classes|length %}
  <table class="table table-hover bg-white">
    <thead>
      <tr class="p-3">
        <th>Class Name</th>
        <th>Class Population</th>
        <th>No. of Courses</th>
      </tr>
    </thead>
    <tbody>
      {% for class in clases %}
        <tr hx-get="{% url 'get_class_course' department.slug class.id %}" hx-target="#main-content" hx-push-url="true" style="cursor: pointer;">
          <td>{{ class.name }}</td>
          <td>{{ class.size }}</td>
          <td>{{ class.courses|length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="text-center">Sorry, No data for {{ department.name|lower }}.</p>
{% endif %}


<script>

  const fileInput = document.getElementById('clsFile')
  const fileName = document.getElementById('fileName')
  
  fileInput.addEventListener('change', (e) => {
    fileName.textContent = e.target.files[0].name
  })

</script>