<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white me-2"><i class="mdi mdi-account-multiple"></i></span>
    Timetale
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb flex gap-3 align-items-center">
      <li>
        <button hx-get="{% url 'timetable' %}" hx-indicator="#htmx-indicator-full" hx-target="#main-content" hx-push-url="true" class="btn bg-gradient-primary"><i class="mdi mdi-refresh text-white"></i></button>
      </li>
      {% if generated and request.user.is_staff is False %}
        <li>
          <a href="{% url 'export_timetable' %}" class="btn bg-gradient-primary text-white">Export</a>
        </li>
      {% endif %}
      {% if generated and request.user.is_staff is True %}
        <li>
          <a href="{% url 'generate_broadsheet' %}" class="btn bg-gradient-primary text-white">Generate Broadsheet</a>
        </li>
      {% endif %}

    </ul>
  </nav>
</div>

{% if generated %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Timetable</h1>
    
    <form hx-get="{% url 'timetable' %}" hx-indicator="#htmx-indicator-full" hx-target="#main-content" hx-push-url="true" class="d-flex align-items-center gap-3">
      <div class="form-group">
        <label for="date" class="form-label">Selcet Day</label>
        <select class="form-control-sm form-control bg-white text-dark" name="date" id="date">
          {% for date in dates %}
            <option {% if request.GET.date == date|date:'Y-m-d' %} selected {% endif %}  value="{{ date|date:'Y-m-d' }}">{{ date }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="period" class="form-label">Selcet Period</label>
        <select class="form-control-sm form-control bg-white py-2 text-dark" name="period" id="period">
          <option {% if request.GET.period == 'AM' %} selected {% endif %} value="AM">AM</option>
          <option {% if request.GET.period == 'PM' %} selected {% endif %} value="PM">PM</option>
        </select>
      </div>
      <button type="submit" class="btn bg-gradient-primary text-white">View</button>
    </form>
  </div>
  <table class="table table-hover bg-white">
    <thead>
      <tr class="p-3">
        <th>Date</th>
        <th>Department</th>
        <th>Class</th>
        <th>Course Title</th>
        <th>Course Code</th>
        <th>Period</th>
        <th>Exam Type</th>
      </tr>
    </thead>
    <tbody>
      {% for timetable in timetables %}
        <tr>
          <td>{{ timetable.date|date:"D d M Y" }}</td>
          <td>{{ timetable.class_obj.department.name }}</td>
          <td>{{ timetable.class_obj.name }}</td>
          <td>{{ timetable.course.name }}</td>
          <td>{{ timetable.course.code }}</td>
          <td>{{ timetable.period }}</td>
          <td>{{ timetable.course.exam_type }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  {% if request.user.is_staff == False %}
    <div style="display: flex; justify-content: center; align-items: center;">
      <h6>No Time table has been genrated yet.</h6>
    </div>
  {% else %}
    <div class="row flex-grow">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-center p-5">
          <div class="brand-logo"></div>
          <h4>Generate timetable</h4>
          <div id="alert"></div>

          <form class="pt-3" method="post" hx-post="{% url 'generate_timetable' %}" hx-indicator="#htmx-indicator" hx-target="#alert" hx-swap="outerHTML">
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input type="date" name="startDate" class="form-control form-control-lg" id="startDate" />
            </div>
            <div class="form-group">
              <label for="endDate">End Date</label>
              <input type="date" name="endDate" class="form-control form-control-lg" id="endDate" />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn d-flex gap-3 align-items-center">{% include 'dashboard/partials/loader.html' %}Generate</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
