{% extends 'base.html' %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  <div class="container-scroller">
    {% include 'dashboard/partials/header.html' %}
    <div class="container-fluid page-body-wrapper">
      {% include 'dashboard/partials/sidebar.html' %}
      <div class="main-panel">
        <div class="content-wrapper" id="main-content">
          {% block main %}
            Dashboard
          {% endblock %}
        </div>

        {% include 'dashboard/partials/footer.html' %}
      </div>
    </div>
  </div>
{% endblock %}
